{layout 'layout.latte'}

{block title}
  Add Person
{/block}

{block content}
  <div>
    <h2>Add person page</h2>
      <div>
        <form action="">
          <label for="addPerson">Name</label>
          <input type="text" name="submit" value="" id="addPerson">
          <input type="submit" value="submit" name="submit">
        </form>
      </div>
  </div>
{/block}