<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link" href="{link main}">Main</a></li>
    <li class="nav-item"><a class="nav-link" href="{link personsList}">Persons</a></li>
    <li class="nav-item"><a class="nav-link" href="{link meetingsList}">Meetings</a></li>
    <li class="nav-item"><a class="nav-link" href="{link newPerson}">New Person</a></li>
    <li class="nav-item"><a class="nav-link" href="{link newMeeting}">New Meeting</a></li>
  </ul>
</nav>