<div class="list-group">
  <ul>
    <li><a href="{$basePath}/">Main</a></li>
    <li><a href="{$basePath}/list">List</a></li>
    <li><a href="">Add person</a></li>
    <li><a href="">Meetings</a></li>
  </ul>
</div>